/* Manager HTML */
/* common */
.smpChat__userSelect__none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.smpChatIcon {
  width: 80px;
  height: 80;
  position: fixed;
  bottom: 100px;
  right: 5%;
  cursor: pointer;
  z-index: 999999999;
}

.smpChat__section {
  height: 700px;
  background-color: #0069c0;
  border-radius: 15px;
  display: none;

  position: fixed;
  bottom: 100px;
  right: 0;
  z-index: 999999999;
}

#smpChat_managerSection {
  width: 600px;
}

#smpChat_clientSection {
  width: 350px;
}

.smpChat__section.smp_active {
  display: block;
}

.smpChatIcon.smp_active {
  display: none;
}

.smpChat__section__contents {
  display: flex;
  justify-content: space-between;
}

.smpChat__section__navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px 15px 20px;
}

.smpChat__section__logo {
  margin: 0;
  color: #f5f5f6;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.smpChat__section__close {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

/* connect */
.smpChat__section__connect {
  width: 245px;
  height: 645px;
  background-color: #f5f5f6;
  margin-left: 5px;
  border-radius: 15px 0 0 15px;
  position: relative;
}

.smpChat__connect__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  border-radius: 15px 0 0 0;
}

.smpChat__connect__navInfo {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: #092943;
  font-family: "Josefin Sans", sans-serif;
}

.smpChat__connect__switchLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 25px;
  margin: 0;
  background-color: #e1e2e1;
  border-radius: 15px;
  transition: all 0.3s;
  cursor: pointer;
}

.smpChat__connect__switchLabel > * {
  transition: all 0.3s;
}

.smpChat__connect__switchBall {
  height: 27px;
  width: 27px;
  background-color: #f5f5f6;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.smpChat__connect__switchSpan {
  height: 30px;
  line-height: 31px;
}

.smpChat__connect__switchSpan p {
  font-size: 12px;
  font-weight: 700;
}

.smpChat__connect__switchInput {
  display: none;
}

.smpChat__connect__switchOff {
  color: #092943;
  margin: 0 6px 0 0;
}

.smpChat__connect__switchOn {
  display: none;
  color: #f5f5f6;
  margin: 0 4px 0 0;
}

.smpChat__connect__switchInput:checked + .smpChat__connect__switchLabel {
  background-color: #0069c0;
}

.smpChat__connect__switchInput:checked
  + .smpChat__connect__switchLabel
  .smpChat__connect__switchOn {
  display: block;
  transform: translateX(-30px);
}

.smpChat__connect__switchInput:checked
  + .smpChat__connect__switchLabel
  .smpChat__connect__switchOff {
  display: none;
}

.smpChat__connect__switchInput:checked
  + .smpChat__connect__switchLabel
  .smpChat__connect__switchBall {
  margin-left: 3px;
  transform: translateX(30px);
}

.smpChat__connect__list {
  overflow-y: scroll;
  width: 100%;
  height: 600px;
  scrollbar-color: #ddd;
  scrollbar-width: thin;
}

.smpChat__connect__list::-webkit-scrollbar {
  width: 10px;
}

.smpChat__connect__list::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 20px;
}

.smpChat__connect__list::-webkit-scrollbar-track {
  background-color: #eee;
}

.smpChat__connect__container {
  background-color: #fff;
  font-family: "Nanum Gothic Coding", monospace;
  cursor: pointer;
}

.smpChat__connect__id {
  width: 65%;
  display: inline-block;
  padding: 5px 0 5px 10px;
  margin: 0;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smpChat__connect__time {
  width: 35%;
  display: inline-block;
  padding: 5px 0;
  text-align: right;
  font-size: 12px;
  color: #888;
  overflow: hidden;
}

.smpChat__connect__content {
  margin: 0;
  color: #555;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.smpChat__connect__contentsContainer {
  height: 40px;
  padding: 0 10px;
  width: 100%;
}

/* dialog */
.smpChat__section__dialog {
  width: 340px;
  height: 645px;
  background-color: #f5f5f6;
  overflow: hidden;
}

.smpChat__section__managerDialog {
  margin-right: 5px;
  border-radius: 0 15px 15px 0;
}

.smpChat__section__clientDialog {
  margin: auto;
  border-radius: 15px;
}

.smpChat__dialog__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  border-radius: 0 15px 0 0;
}

.smpChat__dialog__navInfo {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: #092943;
  font-family: "Josefin Sans", sans-serif;
}

.smpChat__dialog__switchLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 25px;
  margin: 0;
  background-color: #e1e2e1;
  border-radius: 15px;
  transition: all 0.3s;
  cursor: pointer;
}

.smpChat__dialog__switchLabel > * {
  transition: all 0.3s;
}

.smpChat__dialog__switchBall {
  height: 27px;
  width: 27px;
  background-color: #f5f5f6;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.smpChat__dialog__switchSpan {
  height: 30px;
  line-height: 31px;
}

.smpChat__dialog__switchSpan p {
  font-size: 12px;
  font-weight: 700;
}

.smpChat__dialog__switchInput {
  display: none;
}

.smpChat__dialog__switchOff {
  color: #092943;
  margin: 0 6px 0 0;
}

.smpChat__dialog__switchOn {
  display: none;
  color: #f5f5f6;
  margin: 0 4px 0 0;
}

.smpChat__dialog__switchInput:checked + .smpChat__dialog__switchLabel {
  background-color: #0069c0;
}

.smpChat__dialog__switchInput:checked
  + .smpChat__dialog__switchLabel
  .smpChat__dialog__switchOn {
  display: block;
  transform: translateX(-30px);
}

.smpChat__dialog__switchInput:checked
  + .smpChat__dialog__switchLabel
  .smpChat__dialog__switchOff {
  display: none;
}

.smpChat__dialog__switchInput:checked
  + .smpChat__dialog__switchLabel
  .smpChat__dialog__switchBall {
  margin-left: 3px;
  transform: translateX(30px);
}

.smpChat__dialog__chatView {
  width: 100%;
  height: 540px;
  max-height: 540px;
  min-height: 360px;
  background-color: #fff;
  overflow-y: scroll;
  white-space: pre-wrap;
  scrollbar-color: #ddd;
  scrollbar-width: thin;
}

.smpChat__dialog__chatView::-webkit-scrollbar {
  width: 10px;
}

.smpChat__dialog__chatView::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 20px;
}

.smpChat__dialog__chatView::-webkit-scrollbar-track {
  background-color: #eee;
}

.smpChat__dialog__systemBar {
  margin: 10px auto;
  padding: 3px;
  text-align: center;
}

.smpChat__dialog__systemMsg {
  margin: 0;
  font-size: 12px;
  color: #888;
  background-color: #f5f5f6;
  border-radius: 15px;
  display: inline;
  padding: 5px 10px;
}

.smpChat__dialog__containerLeft {
  padding: 5px 15px;
}

.smpChat__dialog__containerRight {
  padding: 5px 15px 5px 15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.smpChat__dialog__profile {
  display: block;
}

.smpChat__dialog__profileImage {
  max-width: 35px;
  max-height: 35px;
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
}

.smpChat__dialog__id {
  display: inline-block;
  font-family: "Inconsolata", monospace;
  font-size: 15px;
  /* letter-spacing: 0.3rem; */
  padding-left: 5px;
  text-transform: uppercase;
  cursor: default;
}

.smpChat__dialog__span {
  font-family: "Nanum Gothic Coding", monospace;
  cursor: default;
  font-size: 13px;
}

.smpChat__dialog__time {
  display: inline-block;
  margin-top: 5px;
  font-size: 11px;
  padding: 3px 5px 3px 5px;
  color: #888;
  cursor: default;
}

.smpChat__dialog__contentContainerLeft {
  max-width: 225px;
  overflow: hidden;
  padding: 5px 10px 5px 10px;
  word-break: break-word;
  background-color: #f5f5f6;
  margin-top: 5px;
  border-radius: 0 15px 15px 15px;
  display: inline-block;
}

.smpChat__dialog__contentContainerRight {
  max-width: 225px;
  overflow: hidden;
  padding: 5px 10px 5px 10px;
  word-break: break-word;
  background-color: #2196f3;
  margin-top: 5px;
  border-radius: 15px 0 15px 15px;
  display: inline-block;
  color: #fff;
}

.smpChat__dialog__content {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 13px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.smpChat__dialog__content:hover {
  text-decoration: none;
}

.smpChat__dialog__content:link {
  text-decoration: none;
}

.smpChat__dialog__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  max-height: 240px;
  width: 100%;
  position: relative;
}

.smpChat__dialog__addImg {
  width: 40px;
  height: 40px;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 5px;
}

.smpChat__dialog__addLabel {
  width: 40px;
  height: 40px;
  z-index: 999;
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 10px;
  margin: 0;
}

.smpChat__dialog__msgTextArea {
  font-family: "Nanum Gothic Coding", monospace;
  width: 240px;
  max-height: 220px;
  height: 40px;
  min-height: 40px;
  line-height: 20px;
  border-radius: 0 0 0 0;
  border: 0;
  padding: 0px 5px 0 5px;
  outline: 0;
  margin: 0;
  resize: none;
  overflow-y: hidden;
  position: absolute;
  top: 10px;
  font-size: 13px;
}

.smpChat__dialog__msgTextArea::-webkit-scrollbar {
  width: 10px;
}

.smpChat__dialog__msgTextArea::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 20px;
}

.smpChat__dialog__msgTextArea::-webkit-scrollbar-track {
  background-color: #eee;
}

.smpChat__dialog__sendImg {
  width: 50px;
  height: 50px;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.smpChat__dialog__addInput {
  visibility: hidden;
  width: 0;
}
